@use './styles/palette' as palette;
@import 'styles/manifest.css';

html, body, #root {
  height: 100%;
  color: palette.$primary;
}

:root {
  color-scheme: light;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
}
