@use '../../styles/palette' as palette;
@use '../../styles/padding' as padding;

.pisces-facility-details {
  display: flex;
  flex-direction: column;
  max-width: 60vw;

  .pisces-details-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.pisces-back-link {
  color: palette.$secondary;
  text-decoration: none;
  display: inline-block;
  padding-top: padding.$pd-md;

  &:hover, &:focus-visible {
    text-decoration: underline;
  }
}

summary.pisces-organizations {
  &:hover, &:focus-visible {
    text-decoration: underline;
  }
}